<!doctype html>
<html>

	<head>
		<meta charset="utf8">
		<title>Матстат</title>
	</head>

	<body>

	<p align="center">Математическая статистика</p>
		<p>Внимание! Прежде чем загружать файл с данными посмотрите как стоит его оформлять.
    </p>

  <%= form_for(:files, url: process_date_path ) do |f| %>
     <p> <%= sprintf('Выборочные характеристики') %></p>
     <p> <%= f.file_field :file1 %> </p>

      <p> <%= sprintf('Гистограмма выборки') %></p>
      <p> <%= f.file_field :file2 %> </p>

      <p> <%= sprintf('Эмпирическая функция распределения') %></p>
      <p> <%= f.file_field :file3 %> </p>

      <p> <%= sprintf('Критерий согласия ХИ-квадрат') %></p>
      <p> <%= f.file_field :file4 %> </p>

      <p> <%= sprintf('Одновыборочный критерий Стьюдента') %></p>
      <p> <%= f.file_field :file5 %> </p>

      <p> <%= sprintf('Критерий знаков') %></p>
      <p> <%= f.file_field :file6 %> </p>

      <p> <%= sprintf('Двухвыборочный критерий Стьюдента') %></p>
      <p> <%= f.file_field :file7 %> </p>

      <p> <%= sprintf(t('vilkokson')) %></p>
      <p> <%= f.file_field :file8 %> </p>

      <p> <%= sprintf('Критерий Фишера. Критерий сравнения дисперсий') %></p>
      <p> <%= f.file_field :file9 %> </p>

      <p> <%= sprintf('Критерий однородности хи-квадрат') %></p>
      <p> <%= f.file_field :file10 %> </p>

      <p> <%= sprintf('Построить интервальную оценку для среднего
значения нормального распределения') %></p>
      <p> <%= f.file_field :file11 %> </p>

      <p> <%= sprintf('Построить интервальную оценку для дисперсии
нормального распределения') %></p>
      <p> <%= f.file_field :file12 %> </p>

      <p> <%= sprintf('Построить интервальную оценку для
вероятности успеха') %></p>
      <p> <%= f.file_field :file13 %> </p>

      <p> <%= sprintf('Проверить независимость двух характеристик
по критерию сопряженности хи-квадрат') %></p>
      <p> <%= f.file_field :file14 %> </p>

      <p> <%= sprintf('Проверить независимость двух характеристик
по критерию Стьюдента. Построить линии регрессии') %></p>
      <p> <%= f.file_field :file15 %> </p>

      <p> <%= f.submit 'Готово' %> </p>

  <% end %>

	</body>

</html>
